.header {
  width: 250px;
}

.header .title {
  font-size: 28px;
}

#hideNews {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

#hideFeed {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
