.header {
  width: 250px;
}

.header .title {
  font-size: 24px;
  font-weight: 700;
}

#hideNews {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 16px;
}

#hideFeed {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 16px;
}

#hideWidget {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 16px;
}

#hideShopping {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 16px;
}
